body
{
  font-family: arial, sans-serif;
  color: #6b6b6b;
  padding: 30px;
}

h1,h2,h3,h4,h5
{
  color: #000;
}

h1
{
  border-bottom: #b7b7b7 solid 1px;
}

h4
{
  text-decoration: underline;
}

.gras_italic
{
  font-style: italic;
  font-weight: bold;
}

.markdown, .html
{
  background-color: #efefef;
  padding: 20px 20px 20px 20px;
}

/*Ne pas souligné les titres h1 contenu dans les blocs markdown*/
.markdown  h1
{
  border-bottom: none;
}

/*Ne pas souligné les titres h1 contenu dans les blocs html*/
.html  h1
{
  border-bottom: none;
}

/*centrage des images horizontalement*/
.img_centre
{
display: block;
margin: auto;
width: 20%;
padding:10px;
}

/*portion de code ou commande à mettre en surbrillance fond gris*/
.portion_code
{
  background-color: #efefef;
}

/*Coloration synthaxique du code manuelle*/
.bordeau
{
  color: #940000;
}

.rouge
{
  color: #ff0000;
}

.blue
{
  color: #0019ff;
}
