body
{
  background-image: url("image/bus_stop_blur.jpg");
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-position:bottom center;
  background-size: 50%;
}

.big
{
  font-size: 3.8em;
  margin-bottom: 0;
  margin-top: 50px;
}

p
{
  font-family: 'Lobster', cursive;
  font-size:3em;
  text-align:center;
  margin-top: 0;
}

#boutons
{
  margin:auto;
  text-align: center;
}

.button {
    background-color: #7155a8;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover
{
  background-color: #463a5e;
  border:2px solid:
}

/*a.button{

		display:block;

		color:#fff;
		font-weight:bold;
		height:30px;
		line-height:29px;
		margin-bottom:14px;
		text-decoration:none;
		width:191px;
}*/

a:hover.button{
	color:#fff;
  font-weight: bolder;
  font-size:1.7em;
  text-shadow: 2px 2px #514c5b;
}
